extends layout

block content
	div#username
		input(name="usernameTxt" type="text")
		input(name="setUsername" value="Set Username" type="button")

	div#sendchat
		input(type="text" name="chatTxt")
		input(type="button" name="sendBtn" value="Send")
	br
	div#content
	script(src='/javascripts/chat.js' type='text/javascript')