extends layout

block header
	.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/') Tiramisu
			.nav-collapse.collapse
				ul.nav
					li
						a(href='/projects/new') New Project
					li
						a(href='/users/5') Profile
				.pull-right
					ul.nav.pull-right
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Welcome, GeneralZero
								b.caret
							ul.dropdown-menu
								li
									a(href='/logout') Sign out