extends layout

block content
	h1= title
	p Welcome to #{title}
	canvas#canvas(align='left', width='800', height='800')
			h2(align='center')
					| Firefox, Opera, Chrome or other HTML5 compliant browser required.
					br
				h3
					p(align='center')
						| This site requires a modern browser for graphics and sound effects.
						br
						br
						| A compliant browser can be downloaded from any of the following sites:
						br
						a(href='http://www.mozilla.com/en-US/firefox/firefox.html') Firefox
						br
						a(href='http://www.opera.com/') Opera
						br
						a(href='http://www.google.com/chrome') Chrome