doctype 5
html
	head
		title #{title}
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#page-wrap
			block content