extends layout

block content
	if paramaters.user
		div.welcomebox
			// Filtered inline output
			p.
				Welcome, #{paramaters.user.name}
				Email: #{paramaters.user.email}
	else
		div.loginbox
			form(name="login", action="/login", method="post")
				input(type="text", name="email")
				input(type="password", name="password")
				input(type="submit", value="login")